input {
  outline: none;
}

input[type = "search"] {
  height: 48px;
  width: 15px;
  font-size: 13px;
  background: transparent url('../../../assets/icons/search-icon.svg') no-repeat 9px center;
  background-size: 20px;
  border: none;
  border-radius: 2px;
  padding: 9px 10px 9px 29px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  transition: all .5s;
}

input[type = "search"]:focus {
  width: 100%;
  padding-left: 38px;
  color: #000;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
  border-image-slice: 1;
  cursor: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: url('../../../assets/icons/close-icon.svg');
  cursor: pointer;
  transition: all .3s;
}
