.sort-btn {
  height: 48px;
  width: 48px;
  border: none;
  background: transparent url('../../../assets/icons/sort-button-icon.svg') no-repeat center;
  background-size: 18px;
  cursor: pointer;
}

.sort-btn:active {
  background: #eee url('../../../assets/icons/sort-button-icon.svg') no-repeat center;
  background-size: 18px;
  border-radius: 10em;
}
