<section>
  <header>
    <h3>Albums</h3>

    <input-checkbox itemValue="select-all" labelValue="Select all" [isChecked]="selectAllAlbums" (onChecked)="onSelectAllAlbums($event)"></input-checkbox>
  </header>

  <h4 *ngIf="!userId">Select an user first</h4>

  <div class="album__list">
    <div *ngFor="let album of albums" class="album__list--item">
      <input-checkbox
        [isChecked]="selectAllAlbums"
        [itemValue]="album.id"
        [labelValue]="album.title | truncate : 20"
        (onChecked)="onSelectAlbum($event, album.id)">
      </input-checkbox>
      <span>1000 Photos</span>
    </div>
  </div>
</section>
